* {
  box-sizing: border-box; }

body {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  color: rgba(0, 0, 0, 0.7); }

.section-outer {
  padding-left: 15px;
  padding-right: 15px; }

.section-inner {
  max-width: 1150px;
  margin: 0 auto; }

.button {
  border: none;
  outline: none;
  border-radius: 2px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer; }

.title {
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000; }

.subtitle {
  margin-bottom: 145px;
  font-family: 'Merriweather', serif;
  font-size: 17px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7); }

.name-and-prof {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  font-weight: 700;
  color: #000000; }
  .name-and-prof span {
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    color: #767070; }

.carousel-3d {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .carousel-3d-slides {
    position: relative;
    width: 320px;
    height: 410px; }
  .carousel-3d-slide {
    position: absolute; }
    .carousel-3d-slide img {
      width: 320px;
      height: 410px;
      display: block;
      box-shadow: 0px 6px 24px 0px rgba(20, 20, 21, 0.17); }
  .carousel-3d .slide--hide {
    visibility: hidden; }
  .carousel-3d .slide-inactive--next,
  .carousel-3d .slide-inactive--previous {
    transform: scale(0.86);
    z-index: 5; }
  .carousel-3d .slide-inactive--next {
    left: 20%;
    top: 0; }
  .carousel-3d .slide-inactive--previous {
    left: -20%;
    top: 0; }
  .carousel-3d .slide-active {
    left: 0;
    z-index: 10; }
  .carousel-3d-dots {
    display: flex;
    position: absolute;
    bottom: -55px;
    left: 50%;
    transform: translateX(-50%); }
  .carousel-3d-dot {
    border-radius: 4px;
    width: 10px;
    height: 10px;
    background-color: #d0d0d0; }
    .carousel-3d-dot + .carousel-3d-dot {
      margin-left: 4px; }
  .carousel-3d .dot--active {
    background-color: #77efe5; }

.section-header {
  position: absolute;
  top: 65px;
  width: 100%; }
  .section-header .section-inner {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 100%; }
  .section-header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 8px;
    border: 6px solid #170f1c;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 0 0 2px rgba(21, 21, 22, 0.75);
    cursor: pointer;
    color: #000000; }
    .section-header-logo span {
      font-size: 21px;
      letter-spacing: 1.26;
      color: #77efe5; }
  .section-header-background {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #767070;
    width: 0;
    height: 100vh;
    opacity: 0.6; }
  .section-header-menu-background {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 100% 0% 0% 100% / 0% 100% 0% 100%;
    background-color: #767070;
    width: 40%;
    height: 100vh; }
  .section-header-menu {
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: 0;
    top: 100px;
    display: none; }
    .section-header-menu--active {
      display: flex; }
    .section-header-menu__link {
      text-transform: uppercase;
      font-weight: 600;
      text-decoration: none;
      color: rgba(0, 0, 0, 0.7);
      transition: color 0.2s ease-in-out; }
      .section-header-menu__link + .section-header-menu__link {
        margin-top: 30px; }
      .section-header-menu__link:hover {
        color: #77efe5; }
  .section-header-hamburger {
    position: relative;
    width: 30px;
    height: 22px;
    cursor: pointer; }
    .section-header-hamburger__bar {
      position: absolute;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: #000000;
      opacity: 0.6; }
    .section-header-hamburger #bar1 {
      top: 0; }
    .section-header-hamburger #bar2 {
      top: 9px; }
    .section-header-hamburger #bar3 {
      top: 18px; }

.section-first-block {
  background-color: #eaebed; }
  .section-first-block .section-inner {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center; }
  .section-first-block-title {
    margin-bottom: 110px;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 1.3;
    text-transform: uppercase;
    text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
    color: rgba(0, 0, 0, 0.7); }
    .section-first-block-title span {
      padding: 0 10px;
      background-color: #77efe5; }
  .section-first-block-button {
    border: 2px solid rgba(0, 0, 0, 0.7);
    padding: 16px 45px;
    font-weight: 600;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7); }

.section-about {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f8fafa; }
  .section-about .section-inner {
    text-align: center; }
  .section-about-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
  .section-about-3d-carousel {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .section-about-3d-carousel-slides {
      position: relative;
      width: 320px;
      height: 410px; }
    .section-about-3d-carousel-slide {
      position: absolute; }
      .section-about-3d-carousel-slide img {
        width: 320px;
        height: 410px;
        display: block;
        box-shadow: 0px 6px 24px 0px rgba(20, 20, 21, 0.17); }
    .section-about-3d-carousel .slide--hide {
      visibility: hidden; }
    .section-about-3d-carousel .slide-inactive--next,
    .section-about-3d-carousel .slide-inactive--previous {
      transform: scale(0.86);
      z-index: 5; }
    .section-about-3d-carousel .slide-inactive--next {
      left: 20%;
      top: 0; }
    .section-about-3d-carousel .slide-inactive--previous {
      left: -20%;
      top: 0; }
    .section-about-3d-carousel .slide-active {
      left: 0;
      z-index: 10; }
    .section-about-3d-carousel-dots {
      display: flex;
      position: absolute;
      bottom: -55px;
      left: 50%;
      transform: translateX(-50%); }
    .section-about-3d-carousel-dot {
      border-radius: 4px;
      width: 10px;
      height: 10px;
      background-color: #d0d0d0; }
      .section-about-3d-carousel-dot + .section-about-3d-carousel-dot {
        margin-left: 4px; }
    .section-about-3d-carousel .dot--active {
      background-color: #77efe5; }
  .section-about-text-block {
    max-width: 40%;
    text-align: start; }
  .section-about-title {
    margin-bottom: 25px;
    font-family: 'Merriweather', serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.7); }
  .section-about-text {
    width: 90%;
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 1.75;
    color: rgba(0, 0, 0, 0.7); }
    .section-about-text:last-child {
      margin-bottom: 0; }
    .section-about-text p {
      margin-top: 32px; }

.section-works {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #ffffff; }
  .section-works .section-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .section-works-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .section-works-item {
    margin: 5px 5px; }
    .section-works-item img {
      display: block; }

.section-services {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f9fbfb; }
  .section-services .section-inner {
    text-align: center; }
  .section-services-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .section-services-item {
    position: relative;
    margin-top: 20px;
    background-color: rgba(120, 240, 230, 0.9);
    transition: 0.2s; }
    .section-services-item img {
      display: block; }
    .section-services-item:nth-child(2n) {
      margin-left: 20px; }
    .section-services-item__title {
      position: absolute;
      bottom: 190px;
      left: 65px;
      z-index: 10;
      margin-bottom: 25px;
      font-family: 'Merriweather', serif;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      color: #ffffff; }
    .section-services-item__text {
      position: absolute;
      bottom: 160px;
      left: 65px;
      z-index: 10;
      width: 80%;
      height: 50px;
      font-size: 16px;
      line-height: 1.45;
      overflow: hidden;
      text-align: start;
      color: #ffffff; }
    .section-services-item__button {
      position: absolute;
      bottom: 55px;
      left: 65px;
      z-index: 10;
      margin-top: 45px;
      border: none;
      background-color: transparent;
      font-weight: 500;
      text-transform: uppercase;
      cursor: pointer;
      color: #ffffff; }
    .section-services-item img {
      display: block; }
    .section-services-item::before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #5c5c5c;
      opacity: 0.60; }
    .section-services-item:hover img, .section-services-item:hover::before {
      opacity: 0.1; }
    .section-services-item:hover .section-services-item__text {
      height: 200px;
      top: 120px;
      color: rgba(0, 0, 0, 0.7); }
    .section-services-item:hover .section-services-item__title {
      top: 65px;
      color: rgba(0, 0, 0, 0.7); }

.section-team {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #ffffff; }
  .section-team .section-inner {
    text-align: center; }
  .section-team-item-line {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px; }
    .section-team-item-line:first-child {
      margin-top: 0; }
  .section-team-item {
    position: relative; }
    .section-team-item img {
      display: block; }
    .section-team-item + .section-team-item {
      margin-left: 15px; }
    .section-team-item__description {
      position: absolute;
      bottom: 15px;
      left: 15px;
      right: 15px;
      padding: 40px 35px;
      text-align: start;
      background-color: #77efe5;
      cursor: default;
      opacity: 0;
      transition: 0.2s; }
      .section-team-item__description .name-and-prof {
        margin-bottom: 15px; }
      .section-team-item__description:before {
        position: absolute;
        content: '';
        top: -30px;
        left: 20px;
        z-index: 100;
        border: 10px solid transparent;
        border-bottom: 20px solid #77efe5; }
      .section-team-item__description-text {
        width: 90%;
        margin-bottom: 35px;
        font-size: 16px;
        line-height: 1.5;
        color: rgba(0, 0, 0, 0.7); }
      .section-team-item__description-links {
        display: flex; }
        .section-team-item__description-links-item svg {
          width: 15px;
          height: 15px;
          transition: 0.1s; }
          .section-team-item__description-links-item svg:hover {
            fill: #767070; }
        .section-team-item__description-links-item + .section-team-item__description-links-item {
          margin-left: 12px; }
    .section-team-item:hover .section-team-item__description {
      opacity: 1; }

.section-testimonials {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f9fbfb; }
  .section-testimonials .section-inner {
    text-align: center; }
  .section-testimonials-3d-carousel {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .section-testimonials-3d-carousel-slides {
      position: relative;
      width: 320px;
      height: 410px; }
    .section-testimonials-3d-carousel-slide {
      position: absolute; }
      .section-testimonials-3d-carousel-slide img {
        width: 320px;
        height: 410px;
        display: block;
        box-shadow: 0px 6px 24px 0px rgba(20, 20, 21, 0.17); }
    .section-testimonials-3d-carousel .slide--hide {
      visibility: hidden; }
    .section-testimonials-3d-carousel .slide-inactive--next,
    .section-testimonials-3d-carousel .slide-inactive--previous {
      transform: scale(0.86);
      z-index: 5; }
    .section-testimonials-3d-carousel .slide-inactive--next {
      left: 20%;
      top: 0; }
    .section-testimonials-3d-carousel .slide-inactive--previous {
      left: -20%;
      top: 0; }
    .section-testimonials-3d-carousel .slide-active {
      left: 0;
      z-index: 10; }
    .section-testimonials-3d-carousel-dots {
      display: flex;
      position: absolute;
      bottom: -55px;
      left: 50%;
      transform: translateX(-50%); }
    .section-testimonials-3d-carousel-dot {
      border-radius: 4px;
      width: 10px;
      height: 10px;
      background-color: #d0d0d0; }
      .section-testimonials-3d-carousel-dot + .section-testimonials-3d-carousel-dot {
        margin-left: 4px; }
    .section-testimonials-3d-carousel .dot--active {
      background-color: #77efe5; }
    .section-testimonials-3d-carousel-comments {
      position: relative;
      height: 350px;
      width: 58%;
      background-color: #eaebed; }
    .section-testimonials-3d-carousel-comment {
      display: flex;
      height: 350px;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .section-testimonials-3d-carousel-comment .name-and-prof {
        margin-bottom: 25px; }
      .section-testimonials-3d-carousel-comment__text {
        width: 78%;
        letter-spacing: 1.5px;
        margin-bottom: 30px; }
      .section-testimonials-3d-carousel-comment-stars {
        display: flex; }
    .section-testimonials-3d-carousel-buttons {
      position: absolute;
      right: 0;
      bottom: -85px;
      display: flex; }
    .section-testimonials-3d-carousel-button {
      position: relative;
      width: 55px;
      height: 55px;
      box-shadow: 0px 8px 11px 0px rgba(20, 20, 21, 0.05);
      background-color: #ffffff;
      cursor: pointer;
      transition: 0.2s; }
      .section-testimonials-3d-carousel-button + .section-testimonials-3d-carousel-button {
        margin-left: 30px; }
      .section-testimonials-3d-carousel-button .button__arrow {
        position: absolute;
        bottom: 21px;
        width: 13px;
        height: 13px;
        border-top: 4px solid #767070;
        border-right: 4px solid #767070;
        background-color: inherit;
        opacity: 0.7; }
      .section-testimonials-3d-carousel-button .arrow-next {
        transform: rotate(45deg);
        left: 18px; }
      .section-testimonials-3d-carousel-button .arrow-previous {
        transform: rotate(-135deg);
        left: 24px; }
      .section-testimonials-3d-carousel-button:hover {
        background-color: #77efe5; }

.star {
  width: 15px;
  height: 15px; }

.star--active {
  fill: #f2da3b; }

.section-clients {
  padding-top: 120px;
  padding-bottom: 120px; }
  .section-clients .section-inner {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .section-clients-items {
    display: flex;
    margin-top: 40px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
    .section-clients-items:first-child {
      margin-top: 0; }
  .section-clients-item + .section-clients-item {
    margin-left: 70px; }
  .section-clients-item img {
    display: block; }

.section-contacts {
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;
  background: url("../img/contacts/background.jpg") no-repeat center;
  background-size: cover; }
  .section-contacts::before {
    content: '';
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
    background: linear-gradient(180deg, white 0%, white 0%, rgba(255, 255, 255, 0.941614) 26%, rgba(255, 255, 255, 0.703519) 100%); }
  .section-contacts .section-inner {
    display: flex;
    position: relative;
    justify-content: space-between;
    z-index: 10; }
  .section-contacts-form, .section-contacts-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 30px;
    background-color: rgba(65, 84, 96, 0.7); }
  .section-contacts-form {
    width: 55%;
    margin-right: 25px; }
    .section-contacts-form-input, .section-contacts-form-textarea {
      width: 100%;
      margin-bottom: 25px; }
      .section-contacts-form-input input,
      .section-contacts-form-input textarea, .section-contacts-form-textarea input,
      .section-contacts-form-textarea textarea {
        padding: 17px 1px;
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid #ffffff;
        outline: none;
        background-color: inherit;
        opacity: 0.6; }
        .section-contacts-form-input input::placeholder,
        .section-contacts-form-input textarea::placeholder, .section-contacts-form-textarea input::placeholder,
        .section-contacts-form-textarea textarea::placeholder {
          color: #ffffff; }
        .section-contacts-form-input input:focus,
        .section-contacts-form-input textarea:focus, .section-contacts-form-textarea input:focus,
        .section-contacts-form-textarea textarea:focus {
          border-bottom: 1px solid #77efe5; }
          .section-contacts-form-input input:focus::placeholder,
          .section-contacts-form-input textarea:focus::placeholder, .section-contacts-form-textarea input:focus::placeholder,
          .section-contacts-form-textarea textarea:focus::placeholder {
            color: #77efe5; }
    .section-contacts-form-textarea textarea {
      max-width: 100%;
      padding-bottom: 90px; }
    .section-contacts-form-button button {
      padding: 15px 35px;
      font-weight: 500;
      background-color: #77efe5;
      transition: 0.2s; }
      .section-contacts-form-button button:hover {
        background-color: #424648;
        color: #bbb8b9; }
  .section-contacts-links {
    width: 45%; }
  .section-contacts-addresses-and-phone {
    margin-bottom: 30px; }
  .section-contacts-link {
    color: #ffffff;
    opacity: 0.7; }
    .section-contacts-link a {
      text-decoration: none;
      color: #ffffff; }
      .section-contacts-link a:hover {
        text-decoration: underline; }
  .section-contacts__web-addresses {
    margin-bottom: 20px; }
  .section-contacts__map {
    width: 100%;
    height: 100%; }

.section-footer {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #262b2e; }
  .section-footer .section-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff; }
  .section-footer-title {
    margin-bottom: 15px;
    text-transform: uppercase;
    opacity: 0.4; }
  .section-footer-media {
    display: flex;
    margin-bottom: 40px; }
    .section-footer-media__link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 45px;
      height: 40px;
      background-color: #424648;
      transition: 0.2s; }
      .section-footer-media__link + .section-footer-media__link {
        margin-left: 9px; }
      .section-footer-media__link svg {
        width: 20px;
        height: 20px;
        fill: #bbb8b9;
        transition: 0.2s; }
      .section-footer-media__link:hover {
        background-color: #77efe5; }
        .section-footer-media__link:hover svg {
          fill: #000000; }
  .section-footer-copyright {
    opacity: 0.4; }
